<mat-sidenav-container>

    <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <button mat-icon-button color="warn" class="close" (click)="sidenav.close()">
            <mat-icon color="warn">close</mat-icon>
        </button>
        <div class="divider"></div>

    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">

        <main [class.content-offset-to-top]="settings.contentOffsetToTop">
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>

<bottom-nav-wrapper bottomNavHeight="38px" topNavHeight="55px" bottomNavBreakpoint="959px">

    <bottom-nav>
        <bottom-nav-item class="nav-item-mobile" [link]="'home'" [exact]="true" label="Organiser">
            thumb_up
        </bottom-nav-item>

        <bottom-nav-item class="nav-item-mobile" [link]="'categories'" [exact]="true" label="Explore">
            watch_later
        </bottom-nav-item>

        <bottom-nav-item class="nav-item-mobile" [link]="'admin'" [exact]="true" label="Admin">
            watch_later
        </bottom-nav-item>

        <bottom-nav-item class="nav-item-mobile" [link]="'rewards'" [exact]="true" label="Rewards">
            thumb_up
        </bottom-nav-item>

        <bottom-nav-item class="nav-item-mobile" [link]="'account/my-properties'" [exact]="true" label="My Account">
            thumb_up
        </bottom-nav-item>

    </bottom-nav>

</bottom-nav-wrapper>