
<div class="wrapper">
	<div class="card" *ngFor="let property of properties">

		<div class="card-media">
			<div class="discount">40% OFF<p>Up to &#x20b9;80 </p>
			</div>
			<div class="pro-discount">PRO extra 15% OFF</div>
			<div class="delivery-time">39 mins</div>
			<div class="bookmark"></div>
		</div>
		<div class="card-description">
			<div class="about-place">
				<div class="place">
					<p class="place-name">Pizza Hut</p>
					<p class="place-speciality">Italian, Fast Food, Beverages</p>
				</div>
				<div class="place-review">
					<p class="rating">4.6 &#x2605;</p>
					<p class="per-person"> &#x20b9; 200 per one</p>
				</div>
			</div>
		</div>
		<button class="card-btn">READ MORE</button>
	</div>
</div>
