<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #leftSidenav mode="side" opened>
        <app-left-menu></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">

        <div class="main_content">

            <mat-toolbar class="mat-elevation-z8">

                <a mat-button class="companyName" (click)="gotoPacks()">
                    <span>Organiser</span>
                </a>

            </mat-toolbar>

            <app-organiser-list (addTaskToListEvt)="handleAddTaskToList($event)"></app-organiser-list>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
